@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff; /* 기본 배경 색상 */
	--foreground: #171717; /* 기본 전경 색상 */
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a; /* 다크 모드 배경 색상 */
		--foreground: #ededed; /* 다크 모드 전경 색상 */
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}

/* 배경 이미지에 대한 반응형 설정 */
.bg-image {
	width: 100%;
	height: auto; /* 비율에 맞춰 높이 자동 조정 */
}

/* Tailwind CSS의 유틸리티 클래스 확장 */
@layer utilities {
	.text-balance {
		text-wrap: balance; /* 텍스트 균형 맞추기 */
	}
}
@layer utilities {
	.animate-roll {
		animation: roll 20s infinite;
	}

	@keyframes roll {
		0% {
			transform: translateY(0%);
		}
		100% {
			transform: translateY(-100%);
		}
	}
}
